<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE DUEÑOS</span>

                    <button class="btn btn-success float-end" routerLink="/owner-add">NUEVO</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">DNI</th>
                                <th scope="col">Profesión</th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let owner of owners">
                                <th scope="row">{{owner.dni}}</th>
                                <td>{{owner.profession}}</td>
                                <td>{{owner.name}}</td>
                                <td><i class="fas fa-trash-alt" (click)="remove(owner._links.owner.href)"></i>
                                    <i class="fas fa-user-edit" [routerLink]="['/owner-edit', owner._links.owner.href]"></i>
                                </td>
                            </tr>                    
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>